a:link {
  font-family: Verdana;
  font-size: 10pt;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
a:visited {
  font-family: Verdana;
  font-size: 10pt;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
a:active {
  font-family: Verdana;
  font-size: 10pt;
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  font-family: Verdana;
  font-size: 10pt;
  color: #808080;
  text-decoration: none;
  font-weight: bold;
}

p {
  font-family: Verdana;
  font-size: 10pt;
  color: #2b4b4a;
  line-height: 180%;
}
li {
  font-family: Verdana;
  font-size: 10pt;
  color: #2b4b4a;
  line-height: 180%;
}
.product {
  font-family: Verdana;
  font-size: 9pt;
}
td {
  font-family: Verdana;
  font-size: 10pt;
  color: #2b4b4a;
}

.topmenu a:link {
  font-family: Verdana;
  font-size: 10pt;
  color: #ffffff;
  text-decoration: none;
}
.topmenu a:visited {
  font-family: Verdana;
  font-size: 10pt;
  color: #ffffff;
  text-decoration: none;
}
.topmenu a:active {
  font-family: Verdana;
  font-size: 10pt;
  color: #a6cc39;
  text-decoration: none;
}
.topmenu a:hover {
  font-family: Verdana;
  font-size: 10pt;
  color: #a6cc39;
  text-decoration: none;
}

.menu a:link {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #2b4b4a;
  text-decoration: none;
}
.menu a:visited {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #2b4b4a;
  text-decoration: none;
}
.menu a:active {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.menu a:hover {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.menu td {
  font-family: Calibri;
  font-size: 11pt;
  color: #e8e8ff;
  border: 1px solid;
  border-color: #ffffff #666666 #666666 #ffffff;
}

.404 a:link {
  font-family: Verdana;
  font-size: 10pt;
  color: #ff0000;
  text-decoration: none;
}
.404 a:visited {
  font-family: Verdana;
  font-size: 10pt;
  color: #ff0000;
  text-decoration: none;
}
.404 a:active {
  font-family: Verdana;
  font-size: 10pt;
  color: #ff0000;
  text-decoration: underline;
}
.404 a:hover {
  font-family: Verdana;
  font-size: 10pt;
  color: #ff0000;
  text-decoration: underline;
}

body {
  scrollbar-face-color: #cccccc;
  scrollbar-shadow-color: #cccccc;
  scrollbar-highlight-color: #999999;
  scrollbar-3dlight-color: #999999;
  scrollbar-darkshadow-color: #999999;
  scrollbar-track-color: #999999;
  scrollbar-arrow-color: #ffffff;
}

ul {
  list-style-image: url(images/dot.gif);
  font-family: Verdana;
  font-size: 10pt;
  color: #000000;
}
li {
  margin-left: -24px;
}

hr {
  height: 1px;
  color: #bdcaac;
}

h1 {
  font-family: Verdana;
  font-size: 14pt;
  font-weight: bold;
  color: #bdcaac;
}
h2 {
  font-family: Verdana;
  font-size: 12pt;
  font-weight: bold;
  color: #2b4b4a;
}
h3 {
  font-family: Verdana;
  font-size: 10pt;
  font-weight: bold;
  color: #2b4b4a;
  margin-bottom: -10;
}
